<!DOCTYPE html>
<html>
  <head>
    <title>Blenderbags</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <p>Welcome <%= current_user.fname %>!</p>
      <button>
        <%= link_to "Home", home_index_path %>
      </button>
      <button>
        <%= link_to "Contact", contact_new_path %>
      </button>
      <button type="button" class="btn btn-secondary">
        <%= link_to "Settings", edit_user_registration_path %>
      </button>
      <button>
        <%= link_to "Shopping Cart", shopping_cart_new_path %>
      </button>
      <button id="btn" type="button" class="btn btn-primary">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </button>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Create Account", new_user_registration_path %>

    <% end -%>

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>