<div class="backgroundimg">
  <%= image_tag "/assets/gym.png" %> 
   <a class="navbar-brand" href="#"><%= image_tag "/assets/bb.png" %></a>
    <div class="create_account">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.text_field :fname, autofocus: true %>
        <p><%= f.label :fname, :value => "First Name" %></p>     
      </div>

      <div class="field">
        <%= f.text_field :lname %>
        <p><%= f.label :lname, :value => "Last Name" %></p>   
      </div>

      <div class="field">
        <%= f.email_field :email %>
        <p><%= f.label :email, :value => "Email"%></p>   
      </div>

      <div class="field">
        <% if @minimum_password_length %>
<!--         <em>(<%= @minimum_password_length %> characters minimum)</em> -->
        <% end %>
        <%= f.password_field :password, autocomplete: "off" %><br>
        <p><%= f.label :password, :value => "Password" %></p>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off" %><br>
        <p><%= f.label :password_confirmation, :value => "Confirm Password" %></p>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>